<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="dom-element">
  <template>
    <style>
      :host {
        display: block;
        border: 1px solid red;
      }
      #child-element {
        background: yellow;
      }
      .content-wrapper ::content > .special {
        background: orange;
      }
    </style>
    <div id="child-element">In local DOM!</div>
    <div class="content-wrapper"><content></content></div>
  </template>
  <script>
    Polymer({
      is: 'dom-element',
      ready: function() {
        console.log(this.$);
      }
    });
  </script>
</dom-module>