<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="variable-element">
  <template>
    <h3>{{listName}}</h3>
    <ul>
      <template is="dom-repeat" items="{{items}}">
        <li>{{item.name}}</li>
      </template>
    </ul>
    <div hidden$="{{isHidden}}"></div>
    <input value="{{hostValue::input}}">{{hostValue}}
    <button onClick="{{handleClick}}">クリック</button>
  </template>
  <script>
    Polymer({
      is: 'variable-element',
      properties: {
        listName: String
      },
      ready: function() {
        this.items = [{name: 'foo'}, {name: 'bar'}];
        this.isHidden = true;
        this.hostValue = 'initial text';
        this.handleClick = function() {
          alert('クリック');
        };
      }
    });
  </script>
</dom-module>